root = true

[{*,.*}]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Trailing whitespace is important in Markdown (they distinguish a new line from a new paragraph)
eclint_indent_style = unset
trim_trailing_whitespace = false
